//Colours should always only appear in this colours.scss
$black: #0a0a0a;
$black-lighter: #222;
$white: #fff;
$white-darker: #f6f6f6;
$purple: #303d49;
$purple-dark: #193a4a;
$purple-darker: #102c3a;
$red: #c20038;
$red-dark: #c41230;
$red-lighter: #ef4d41;
$gray: #eee;
$gray-light: #efefef;
$gray-lighter: #707070;
$gray-lightest: #EAEAEA;
$gray-darkest: #3e3936;
